<div class="card">
    <h2>
      <div *ngIf="quiz.theme === 'Actor'">
        <i class='fas fa-film'></i>
      </div>
      <div *ngIf="quiz.theme === 'Sport'">
        <i class='fas fa-running'></i>
      </div>
        Nom: {{quiz.name}}
    </h2>
      <span>
          Theme : {{quiz.theme}}
      </span>
    <button class="button-card" (click)="selectQuiz()">Select</button>
    <h4>Nombre de qustions: {{quiz.questions.length}}</h4>
  <button class="button-card" (click)="deleteQuiz()">Delete</button>
</div>
